# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/server/node_modules
/server/.pnp
/server/.pnp.js
/client/node_modules
/client/.pnp
/client/.pnp.js
# testing
/server/coverage
/client/coverage

# production
/server/build
/client/build

# misc
/server/.DS_Store

/server/npm-debug.log*
/server/yarn-debug.log*
/server/yarn-error.log*

.idea/
.vscode/
build
.DS_Store
*.tgz
my-app*
template/src/__tests__/__snapshots__/
lerna-debug.log
/.changelog
.env
.env*.local
package-lock.json
yarn.lock
src/styles/App.css
coverage/*
/server/.history/
/client/.history/